Uom mam tre tho/Source Code/PES.LearningVietNamese/Pes.Tests/Pes.Tests/Service References/LearningServices/LearningServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/services/LearningServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
  <xs:element name="StudyingProgrammingGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StudyingProgrammingGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="StudyingProgrammingGetAllResult" nillable="true" type="q1:ArrayOfStudyProgramming" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudyingLevelGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studyProgrameID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudyingLevelGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="StudyingLevelGetResult" nillable="true" type="q2:ArrayOfStudyLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>