Uom mam tre tho/Source Code/PES.LearningVietNamese/TracNghiem/Service References/ITBusServiceRefernce/ITBusServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntityBaseOfVLessionGroup6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="VLessionGroup" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfVLessionGroup6JTOatw_P" nillable="true" type="tns:EntityBaseOfVLessionGroup6JTOatw_P" />
  <xs:complexType name="EntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
  <xs:complexType name="EntityBaseOfVLession6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="VLession" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfVLession6JTOatw_P" nillable="true" type="tns:EntityBaseOfVLession6JTOatw_P" />
  <xs:complexType name="EntityBaseOfVPart6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="VPart" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfVPart6JTOatw_P" nillable="true" type="tns:EntityBaseOfVPart6JTOatw_P" />
  <xs:complexType name="EntityBaseOfVModule6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="VModule" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfVModule6JTOatw_P" nillable="true" type="tns:EntityBaseOfVModule6JTOatw_P" />
  <xs:complexType name="EntityBaseOfAccount6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Account" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfAccount6JTOatw_P" nillable="true" type="tns:EntityBaseOfAccount6JTOatw_P" />
  <xs:complexType name="EntityBaseOfPermission6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Permission" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfPermission6JTOatw_P" nillable="true" type="tns:EntityBaseOfPermission6JTOatw_P" />
  <xs:complexType name="EntityBaseOfProfile6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Profile" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfProfile6JTOatw_P" nillable="true" type="tns:EntityBaseOfProfile6JTOatw_P" />
  <xs:complexType name="EntityBaseOfProfileAttribute6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProfileAttribute" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfProfileAttribute6JTOatw_P" nillable="true" type="tns:EntityBaseOfProfileAttribute6JTOatw_P" />
  <xs:complexType name="EntityBaseOfProfileAttributeType6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProfileAttributeType" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfProfileAttributeType6JTOatw_P" nillable="true" type="tns:EntityBaseOfProfileAttributeType6JTOatw_P" />
  <xs:complexType name="EntityBaseOfLevelOfExperienceType6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LevelOfExperienceType" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfLevelOfExperienceType6JTOatw_P" nillable="true" type="tns:EntityBaseOfLevelOfExperienceType6JTOatw_P" />
  <xs:complexType name="EntityBaseOfVQuestions6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="VQuestions" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfVQuestions6JTOatw_P" nillable="true" type="tns:EntityBaseOfVQuestions6JTOatw_P" />
  <xs:complexType name="EntityBaseOfVAnswers6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="VAnswers" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfVAnswers6JTOatw_P" nillable="true" type="tns:EntityBaseOfVAnswers6JTOatw_P" />
  <xs:complexType name="EntityBaseOfVTestResults6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="VTestResults" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfVTestResults6JTOatw_P" nillable="true" type="tns:EntityBaseOfVTestResults6JTOatw_P" />
</xs:schema>