trunk/Uom mam tre tho/Source Code/PES.LearningVietNamese/Studing/PrimaryEducationSystem.Tests/Service References/LearningServices/LearningServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/Services/LearningServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
  <xs:element name="GetUserByAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetUserByAccountIDResult" nillable="true" type="q1:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudyingProgrammingGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StudyingProgrammingGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="StudyingProgrammingGetAllResult" nillable="true" type="q2:ArrayOfStudyProgramming" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudyingLevelGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studyProgrameID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudyingLevelGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="StudyingLevelGetResult" nillable="true" type="q3:ArrayOfStudyLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubjectGetAllWithLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="levelID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubjectGetAllWithLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="SubjectGetAllWithLevelResult" nillable="true" type="q4:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubjectGetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubjectGetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="SubjectGetByNameResult" nillable="true" type="q5:Subject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartGetAllWithSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartGetAllWithSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="PartGetAllWithSubjectResult" nillable="true" type="q6:ArrayOfPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessonGetAllWithPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessonGetAllWithPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="LessonGetAllWithPartResult" nillable="true" type="q7:ArrayOfLesson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookGetByBookID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookGetByBookIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="BookGetByBookIDResult" nillable="true" type="q8:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookTypeGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BookTypeGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="BookTypeGetAllResult" nillable="true" type="q9:ArrayOfBookType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookGetByBookType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookGetByBookTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="BookGetByBookTypeResult" nillable="true" type="q10:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookTop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookTopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="BookTopResult" nillable="true" type="q11:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookTopInBookType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
        <xs:element minOccurs="0" name="typeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookTopInBookTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="BookTopInBookTypeResult" nillable="true" type="q12:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountGetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountGetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="AccountGetByIDResult" nillable="true" type="q13:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PupilGetByAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PupilGetByAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="PupilGetByAccountIDResult" nillable="true" type="q14:Pupils" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonTestTypeByLessonID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lessonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonTestTypeByLessonIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetLessonTestTypeByLessonIDResult" nillable="true" type="q15:ArrayOfLessonTestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartTestTypeByPartID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartTestTypeByPartIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetPartTestTypeByPartIDResult" nillable="true" type="q16:ArrayOfPartTestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectTestTypebySubjectID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectTestTypebySubjectIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetSubjectTestTypebySubjectIDResult" nillable="true" type="q17:ArrayOfSubjectTestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestByTestID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestByTestIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetTestByTestIDResult" nillable="true" type="q18:ArrayOfTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionByTestLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="levelID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionByTestLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetAllQuestionByTestLevelResult" nillable="true" type="q19:ArrayOfT_Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetQuestionByIDResult" nillable="true" type="q20:T_Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnswersByQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnswersByQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetAllAnswersByQuestionResult" nillable="true" type="q21:ArrayOfT_Answers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTestResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="testResult" nillable="true" type="q22:T_Test_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTestResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTestResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPupil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="pupil" nillable="true" type="q23:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPupilResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPupilByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPupilByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetPupilByIDResult" nillable="true" type="q24:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPupilLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isNeedEcode" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPupilLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetPupilLoginResult" nillable="true" type="q25:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="profile" nillable="true" type="q26:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPupilByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPupilByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetPupilByEmailResult" nillable="true" type="q27:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetProfileByAccountIDResult" nillable="true" type="q28:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="UserLoginResult" nillable="true" type="q29:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>