trunk/Uom mam tre tho/Source Code/PES.LearningVietNamese/Pes.Tests/Pes.Tests/Service References/LearningServices/LearningServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntityBaseOfStudyProgramming6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StudyProgramming" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfStudyProgramming6JTOatw_P" nillable="true" type="tns:EntityBaseOfStudyProgramming6JTOatw_P" />
  <xs:complexType name="EntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
  <xs:complexType name="EntityBaseOfStudyLevel6JTOatw_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StudyLevel" Namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBaseOfStudyLevel6JTOatw_P" nillable="true" type="tns:EntityBaseOfStudyLevel6JTOatw_P" />
</xs:schema>