trunk/Uom mam tre tho/Source Code/PES.LearningVietNamese/Pes.Tests/Pes.Tests/Service References/LearningServices/LearningServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pes.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pes.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/services/LearningServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:import schemaLocation="http://localhost:9999/services/LearningServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" />
  <xs:complexType name="ArrayOfStudyProgramming">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudyProgramming" nillable="true" type="tns:StudyProgramming" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudyProgramming" nillable="true" type="tns:ArrayOfStudyProgramming" />
  <xs:complexType name="StudyProgramming">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" base="q1:EntityBaseOfStudyProgramming6JTOatw_P">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgrammingID" type="xs:int" />
          <xs:element minOccurs="0" name="ProgrammingName" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Timestamp" nillable="true" type="q2:Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StudyProgramming" nillable="true" type="tns:StudyProgramming" />
  <xs:complexType name="ArrayOfStudyLevel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudyLevel" nillable="true" type="tns:StudyLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudyLevel" nillable="true" type="tns:ArrayOfStudyLevel" />
  <xs:complexType name="StudyLevel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" base="q3:EntityBaseOfStudyLevel6JTOatw_P">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StudyLevelID" type="xs:int" />
          <xs:element minOccurs="0" name="StudyLevelName" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Timestamp" nillable="true" type="q4:Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StudyLevel" nillable="true" type="tns:StudyLevel" />
</xs:schema>