trunk/Uom mam tre tho/Source Code/PES.LearningVietNamese/Pes.Tests/Pes.Tests/Service References/LearningServices/LearningServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="LearningServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9999/services/LearningServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9999/services/LearningServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9999/services/LearningServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
      <xsd:import schemaLocation="http://localhost:9999/services/LearningServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" />
      <xsd:import schemaLocation="http://localhost:9999/services/LearningServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILearningServices_StudyingProgrammingGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:StudyingProgrammingGetAll" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_StudyingProgrammingGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudyingProgrammingGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_StudyingLevelGet_InputMessage">
    <wsdl:part name="parameters" element="tns:StudyingLevelGet" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_StudyingLevelGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudyingLevelGetResponse" />
  </wsdl:message>
  <wsdl:portType name="ILearningServices">
    <wsdl:operation name="StudyingProgrammingGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/StudyingProgrammingGetAll" message="tns:ILearningServices_StudyingProgrammingGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/StudyingProgrammingGetAllResponse" message="tns:ILearningServices_StudyingProgrammingGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudyingLevelGet">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/StudyingLevelGet" message="tns:ILearningServices_StudyingLevelGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/StudyingLevelGetResponse" message="tns:ILearningServices_StudyingLevelGet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILearningServices" type="tns:ILearningServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StudyingProgrammingGetAll">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/StudyingProgrammingGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudyingLevelGet">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/StudyingLevelGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LearningServices">
    <wsdl:port name="BasicHttpBinding_ILearningServices" binding="tns:BasicHttpBinding_ILearningServices">
      <soap:address location="http://localhost:9999/services/LearningServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>