Uom mam tre tho/Source Code/PES.LearningVietNamese/Studing/PrimaryEducationSystem.Tests/Service References/LearningServices/LearningServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="LearningServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9999/Services/LearningServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9999/Services/LearningServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9999/Services/LearningServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
      <xsd:import schemaLocation="http://localhost:9999/Services/LearningServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SubSonic.BaseClasses" />
      <xsd:import schemaLocation="http://localhost:9999/Services/LearningServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILearningServices_GetUserByAccountID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByAccountID" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetUserByAccountID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_StudyingProgrammingGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:StudyingProgrammingGetAll" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_StudyingProgrammingGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudyingProgrammingGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_StudyingLevelGet_InputMessage">
    <wsdl:part name="parameters" element="tns:StudyingLevelGet" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_StudyingLevelGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudyingLevelGetResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_SubjectGetAllWithLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:SubjectGetAllWithLevel" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_SubjectGetAllWithLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubjectGetAllWithLevelResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_SubjectGetByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SubjectGetByName" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_SubjectGetByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubjectGetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_PartGetAllWithSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:PartGetAllWithSubject" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_PartGetAllWithSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:PartGetAllWithSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_LessonGetAllWithPart_InputMessage">
    <wsdl:part name="parameters" element="tns:LessonGetAllWithPart" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_LessonGetAllWithPart_OutputMessage">
    <wsdl:part name="parameters" element="tns:LessonGetAllWithPartResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_BookGetByBookID_InputMessage">
    <wsdl:part name="parameters" element="tns:BookGetByBookID" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_BookGetByBookID_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookGetByBookIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_BookTypeGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:BookTypeGetAll" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_BookTypeGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookTypeGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_BookGetByBookType_InputMessage">
    <wsdl:part name="parameters" element="tns:BookGetByBookType" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_BookGetByBookType_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookGetByBookTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_BookTop_InputMessage">
    <wsdl:part name="parameters" element="tns:BookTop" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_BookTop_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookTopResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_BookTopInBookType_InputMessage">
    <wsdl:part name="parameters" element="tns:BookTopInBookType" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_BookTopInBookType_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookTopInBookTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_AccountGetByID_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountGetByID" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_AccountGetByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountGetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_PupilGetByAccountID_InputMessage">
    <wsdl:part name="parameters" element="tns:PupilGetByAccountID" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_PupilGetByAccountID_OutputMessage">
    <wsdl:part name="parameters" element="tns:PupilGetByAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetLessonTestTypeByLessonID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonTestTypeByLessonID" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetLessonTestTypeByLessonID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonTestTypeByLessonIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetPartTestTypeByPartID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartTestTypeByPartID" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetPartTestTypeByPartID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartTestTypeByPartIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetSubjectTestTypebySubjectID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectTestTypebySubjectID" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetSubjectTestTypebySubjectID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectTestTypebySubjectIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetTestByTestID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestByTestID" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetTestByTestID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestByTestIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetAllQuestionByTestLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllQuestionByTestLevel" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetAllQuestionByTestLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllQuestionByTestLevelResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetQuestionByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionByID" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetQuestionByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetAllAnswersByQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAnswersByQuestion" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetAllAnswersByQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAnswersByQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_InsertTestResult_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTestResult" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_InsertTestResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTestResultResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_InsertPupil_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPupil" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_InsertPupil_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPupilResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetPupilByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPupilByID" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetPupilByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPupilByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetPupilLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPupilLogin" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetPupilLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPupilLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_UpdateProFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProFile" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_UpdateProFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProFileResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetPupilByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPupilByEmail" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetPupilByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPupilByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetProfileByAccountID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByAccountID" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_GetProfileByAccountID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="ILearningServices_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ILearningServices">
    <wsdl:operation name="GetUserByAccountID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/GetUserByAccountID" message="tns:ILearningServices_GetUserByAccountID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/GetUserByAccountIDResponse" message="tns:ILearningServices_GetUserByAccountID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudyingProgrammingGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/StudyingProgrammingGetAll" message="tns:ILearningServices_StudyingProgrammingGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/StudyingProgrammingGetAllResponse" message="tns:ILearningServices_StudyingProgrammingGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudyingLevelGet">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/StudyingLevelGet" message="tns:ILearningServices_StudyingLevelGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/StudyingLevelGetResponse" message="tns:ILearningServices_StudyingLevelGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubjectGetAllWithLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/SubjectGetAllWithLevel" message="tns:ILearningServices_SubjectGetAllWithLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/SubjectGetAllWithLevelResponse" message="tns:ILearningServices_SubjectGetAllWithLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubjectGetByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/SubjectGetByName" message="tns:ILearningServices_SubjectGetByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/SubjectGetByNameResponse" message="tns:ILearningServices_SubjectGetByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PartGetAllWithSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/PartGetAllWithSubject" message="tns:ILearningServices_PartGetAllWithSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/PartGetAllWithSubjectResponse" message="tns:ILearningServices_PartGetAllWithSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LessonGetAllWithPart">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/LessonGetAllWithPart" message="tns:ILearningServices_LessonGetAllWithPart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/LessonGetAllWithPartResponse" message="tns:ILearningServices_LessonGetAllWithPart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookGetByBookID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/BookGetByBookID" message="tns:ILearningServices_BookGetByBookID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/BookGetByBookIDResponse" message="tns:ILearningServices_BookGetByBookID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookTypeGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/BookTypeGetAll" message="tns:ILearningServices_BookTypeGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/BookTypeGetAllResponse" message="tns:ILearningServices_BookTypeGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookGetByBookType">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/BookGetByBookType" message="tns:ILearningServices_BookGetByBookType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/BookGetByBookTypeResponse" message="tns:ILearningServices_BookGetByBookType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookTop">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/BookTop" message="tns:ILearningServices_BookTop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/BookTopResponse" message="tns:ILearningServices_BookTop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookTopInBookType">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/BookTopInBookType" message="tns:ILearningServices_BookTopInBookType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/BookTopInBookTypeResponse" message="tns:ILearningServices_BookTopInBookType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountGetByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/AccountGetByID" message="tns:ILearningServices_AccountGetByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/AccountGetByIDResponse" message="tns:ILearningServices_AccountGetByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PupilGetByAccountID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/PupilGetByAccountID" message="tns:ILearningServices_PupilGetByAccountID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/PupilGetByAccountIDResponse" message="tns:ILearningServices_PupilGetByAccountID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLessonTestTypeByLessonID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/GetLessonTestTypeByLessonID" message="tns:ILearningServices_GetLessonTestTypeByLessonID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/GetLessonTestTypeByLessonIDResponse" message="tns:ILearningServices_GetLessonTestTypeByLessonID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartTestTypeByPartID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/GetPartTestTypeByPartID" message="tns:ILearningServices_GetPartTestTypeByPartID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/GetPartTestTypeByPartIDResponse" message="tns:ILearningServices_GetPartTestTypeByPartID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjectTestTypebySubjectID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/GetSubjectTestTypebySubjectID" message="tns:ILearningServices_GetSubjectTestTypebySubjectID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/GetSubjectTestTypebySubjectIDResponse" message="tns:ILearningServices_GetSubjectTestTypebySubjectID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestByTestID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/GetTestByTestID" message="tns:ILearningServices_GetTestByTestID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/GetTestByTestIDResponse" message="tns:ILearningServices_GetTestByTestID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllQuestionByTestLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/GetAllQuestionByTestLevel" message="tns:ILearningServices_GetAllQuestionByTestLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/GetAllQuestionByTestLevelResponse" message="tns:ILearningServices_GetAllQuestionByTestLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/GetQuestionByID" message="tns:ILearningServices_GetQuestionByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/GetQuestionByIDResponse" message="tns:ILearningServices_GetQuestionByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAnswersByQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/GetAllAnswersByQuestion" message="tns:ILearningServices_GetAllAnswersByQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/GetAllAnswersByQuestionResponse" message="tns:ILearningServices_GetAllAnswersByQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTestResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/InsertTestResult" message="tns:ILearningServices_InsertTestResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/InsertTestResultResponse" message="tns:ILearningServices_InsertTestResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPupil">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/InsertPupil" message="tns:ILearningServices_InsertPupil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/InsertPupilResponse" message="tns:ILearningServices_InsertPupil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPupilByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/GetPupilByID" message="tns:ILearningServices_GetPupilByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/GetPupilByIDResponse" message="tns:ILearningServices_GetPupilByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPupilLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/GetPupilLogin" message="tns:ILearningServices_GetPupilLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/GetPupilLoginResponse" message="tns:ILearningServices_GetPupilLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/UpdateProFile" message="tns:ILearningServices_UpdateProFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/UpdateProFileResponse" message="tns:ILearningServices_UpdateProFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPupilByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/GetPupilByEmail" message="tns:ILearningServices_GetPupilByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/GetPupilByEmailResponse" message="tns:ILearningServices_GetPupilByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileByAccountID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/GetProfileByAccountID" message="tns:ILearningServices_GetProfileByAccountID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/GetProfileByAccountIDResponse" message="tns:ILearningServices_GetProfileByAccountID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningServices/UserLogin" message="tns:ILearningServices_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningServices/UserLoginResponse" message="tns:ILearningServices_UserLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILearningServices" type="tns:ILearningServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserByAccountID">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/GetUserByAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudyingProgrammingGetAll">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/StudyingProgrammingGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudyingLevelGet">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/StudyingLevelGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubjectGetAllWithLevel">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/SubjectGetAllWithLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubjectGetByName">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/SubjectGetByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartGetAllWithSubject">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/PartGetAllWithSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LessonGetAllWithPart">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/LessonGetAllWithPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookGetByBookID">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/BookGetByBookID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookTypeGetAll">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/BookTypeGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookGetByBookType">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/BookGetByBookType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookTop">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/BookTop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookTopInBookType">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/BookTopInBookType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountGetByID">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/AccountGetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PupilGetByAccountID">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/PupilGetByAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLessonTestTypeByLessonID">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/GetLessonTestTypeByLessonID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartTestTypeByPartID">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/GetPartTestTypeByPartID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectTestTypebySubjectID">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/GetSubjectTestTypebySubjectID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestByTestID">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/GetTestByTestID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQuestionByTestLevel">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/GetAllQuestionByTestLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionByID">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/GetQuestionByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAnswersByQuestion">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/GetAllAnswersByQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTestResult">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/InsertTestResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPupil">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/InsertPupil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPupilByID">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/GetPupilByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPupilLogin">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/GetPupilLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProFile">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/UpdateProFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPupilByEmail">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/GetPupilByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileByAccountID">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/GetProfileByAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/ILearningServices/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LearningServices">
    <wsdl:port name="BasicHttpBinding_ILearningServices" binding="tns:BasicHttpBinding_ILearningServices">
      <soap:address location="http://localhost:9999/Services/LearningServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>