Uom mam tre tho/Source Code/PES.LearningVietNamese/ITBusSilverlight/Service References/ITBusServiceReference/ITBusServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/Services/VN/ITBusServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pes.Core" />
  <xs:element name="GetAllLessionGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLessionGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetAllLessionGroupResult" nillable="true" type="q1:ArrayOfVLessionGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lessionGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetLessionsResult" nillable="true" type="q2:ArrayOfVLession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPartsByLession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lession" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPartsByLessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetAllPartsByLessionResult" nillable="true" type="q3:ArrayOfVPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetModuleByIDResult" nillable="true" type="q4:VModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHomeLessionGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHomeLessionGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetHomeLessionGroupResult" nillable="true" type="q5:ArrayOfVLessionGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessionGroupByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLG" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessionGroupByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetLessionGroupByIDResult" nillable="true" type="q6:VLessionGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPupil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="pupil" nillable="true" type="q7:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPupilResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPupilByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPupilByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetPupilByIDResult" nillable="true" type="q8:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPupilLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isNeedEcode" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPupilLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetPupilLoginResult" nillable="true" type="q9:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePupil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="originPupil" nillable="true" type="q10:Account" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="newPupil" nillable="true" type="q11:Account" />
        <xs:element minOccurs="0" name="IsEncodePass" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePupilResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyPupil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="pupil" nillable="true" type="q12:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyPupilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="CopyPupilResult" nillable="true" type="q13:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPupilByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPupilByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetPupilByEmailResult" nillable="true" type="q14:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetProfileByAccountIDResult" nillable="true" type="q15:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebURL">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebURLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWebURLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MD5Hash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MD5HashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MD5HashResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionByTestLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="levelID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionByTestLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetAllQuestionByTestLevelResult" nillable="true" type="q16:ArrayOfVQuestions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetQuestionByIDResult" nillable="true" type="q17:VQuestions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnswersByQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnswersByQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="GetAllAnswersByQuestionResult" nillable="true" type="q18:ArrayOfVAnswers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTestResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Pes.Core" minOccurs="0" name="testResult" nillable="true" type="q19:VTestResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTestResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTestResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>